
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem;
  padding: 1rem;
}

.card-category {
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow:  4px 4px  #FEFCF3;
  border-radius: 16px;
}
