.titre h1 {
  text-shadow: 1px 1px 1px #B2B2B2;
  font-size: 3em;
}

.titre p {
  font-size: 1em;
  color: #3C4048;
}

.logo img{
  margin-top: 2rem;
  position: relative;
}

.image img{
 border-radius: 8px;
 box-shadow:  4px 4px  #FEFCF3;
 margin: 2rem;
}

.hours h3 {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.address {
  margin-top: 2rem;
}

.takeout {
  font-size: 24px;
  font-weight: 300;
  margin-right: 1rem;
  padding: 2rem;
}

.takeout h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
