.footer {
  background-color: #FAF8F1;
  color: #6B728E;
  width: 100%;
  padding: 1rem;
  text-decoration: none;
}

.menu p {
  font-size: 1rem;
}

.menudescription li {
 list-style-type: none;
 line-height: 1.5rem;
}

