
@import "menu.css";
@import "index.css";
@import "gallery.css";
@import "contact.css";
@import "footer.css";
@import "topnav.css";
@import "footer.css";
@import "pro.css";


body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin: 0!important;
}

a {
  color: #3C4048;
}

img {
 border-radius: 1rem;
}
